{% extends "base.html" %}
{% block title %}Rare News by Noah Lops{% endblock %}

<!-- TODO: This isn't parsed by Markdown so links aren't colored. -->

{% block content %}
<div>
    <article>
        <h2>Rare News by Noah Lops</h2>

        <ul>
            {% for article in articles %}
            <li>
                <a href="{{ SITEURL }}/{{ article.url }}"">
                    <span>{{ article.title }}</span>
                </a>
                <br />
                <span>{{ article.date.strftime('%d.%m.%Y') }}</span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}
