{% extends "base.html" %}
{% block title %}Rare News by Noah Lops{% endblock %}

{% block content %}
<div>
    <article>
        <h2>Rare News by Noah Lops</h2>

        <p style="text-align: right;">
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
                <img style="display: inline-block; vertical-align: middle; height: 1em; width: auto;"
                    src=" {{ SITEURL }}/images/atom-logo.png" alt="Atom logo">
                Feed
            </a>
        </p>

        <ul>
            {% for article in articles %}
            <li>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    <span>{{ article.title }}</span>
                </a>
                <br />
                <span>{{ article.date.strftime('%d.%m.%Y') }}</span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}