<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <title>
        {% block title %}{# Default title #}hey hey{% endblock title %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--
        MathJax v3:
        - v3 uses ES6, which most browsers support so I won't polyfill it: https://caniuse.com/es6
        - standard TeX input component: https://docs.mathjax.org/en/latest/web/components/input.html#input-tex-1
        - CommonHTML output component: https://docs.mathjax.org/en/latest/web/components/output.html#output-chtml
     -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [["$$", "$$"]],
            }
        };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.min.js"></script>

    <!-- Inflation-adjusted prices. Inspired by: https://gwern.net/static/build/Inflation.hs -->
    <script>
        window.addEventListener("DOMContentLoaded", async (event) => {
            const inflationSpans = document.querySelectorAll("span.inflation")
            if (inflationSpans.length) {
                fetch("/CPILFESL.csv")
                    .then(response => response.text())
                    .then(data => {
                        // Parse the CSV data
                        const rows = data.split("\n");
                        const inflationData = {};
                        rows.forEach((row, index) => {
                            if (index > 0 && row) { // Skip the header row and empty rows
                                const [year, cpi] = row.split(",");
                                inflationData[year] = parseFloat(cpi);
                            }
                        });

                        // Calculate inflation-adjusted prices
                        var currentYear = new Date().getFullYear();
                        var currentCPI = inflationData[currentYear.toString()];
                        // If CPI data isn't up-to-date, it's alright to fallback to
                        // at most 3 years ago
                        while (!currentCPI && currentYear - 1 >= new Date().getFullYear() - 3) {
                            currentYear -= 1
                            currentCPI = inflationData[currentYear.toString()]
                        }
                        if (!currentCPI) return
                        inflationSpans.forEach((elem) => {
                            const originalPrice = parseFloat(elem.dataset.price);
                            const originalYear = parseInt(elem.dataset.year);
                            const originalCPI = inflationData[originalYear.toString()];
                            if (originalCPI) {
                                const newPrice = originalPrice * (currentCPI / originalCPI);

                                // <abbr> work pretty well to convery inflation-adjusted
                                // prices, so I'll use that for now.
                                const abbr = document.createElement("abbr")
                                abbr.className = "inflation"
                                abbr.title = `$${originalPrice} in ${originalYear}`
                                abbr.textContent = "$" + newPrice.toFixed(2);
                                elem.parentNode.replaceChild(abbr, elem)
                            }
                        });
                    });
            }
        });
    </script>

    <!-- Load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" />

    <!-- Load CSS -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/out.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/pygment-lovelace.css" />
</head>

<body>
    <main>{% block content %}{% endblock %}</main>
</body>

</html>
