<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <title>
        {% block title %}{# Default title #}hey hey{% endblock title %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Color links and blockquotes!
        // I could do this at build time with Pelican (listen for the `content_written`
        // signal and then update all <a> and <blockquote> elements), but I kind
        // of like the whimsy of refreshing the page and changing all the colors.
        const numColors = 6;
        const wordsNums = ["zero", "one", "two", "three", "four", "five"];

        const aColors = (ancestor = "") => {
            let counter = Math.floor(Math.random() * numColors);
            $(`${ancestor} a`).each((i, elem) => {
                // Remove any "link-" classes so we don't end up at "link-five" which
                // takes precedence over the rest
                const classes = $(elem).attr("class");
                if (classes) {
                    $(elem).removeClass(
                        classes
                            .split(" ")
                            .filter((c) => c.indexOf("link-") >= 0),
                    );
                }

                $(elem).addClass("link-" + wordsNums[counter % numColors]);
                counter += 1;
            });
        };

        const blockquoteColors = (ancestor = "") => {
            let counter = Math.floor(Math.random() * numColors);
            $(`${ancestor} blockquote`).each((i, elem) => {
                elem.style["border-color"] = `var(--${wordsNums[counter % numColors]
                    })`;
                counter += 1;
            });
        };

        $(document).ready(() => {
            const ancestor = "";
            aColors(ancestor);
            blockquoteColors(ancestor);
        });
    </script>

    <!--
        MathJax v3:
        - v3 uses ES6, which most browsers support so I won't polyfill it: https://caniuse.com/es6
        - standard TeX input component: https://docs.mathjax.org/en/latest/web/components/input.html#input-tex-1
        - CommonHTML output component: https://docs.mathjax.org/en/latest/web/components/output.html#output-chtml
     -->
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.min.js"></script>

    <!-- Load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" />

    <!-- Load CSS -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/out.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/pygment-lovelace.css" />
</head>

<body>
    <main>{% block content %}{% endblock %}</main>
</body>

</html>
